html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

h2 {
    margin: 0;
}

pre {
    overflow-y: auto;
    color: yellow;
    margin: 0;
}

#container {
    height: 100%;
    font-size: 16px;
}

#myGrid {
    height: 60%;

    .ag-tool-panel-wrapper {
        min-width: 270px;

        .server-tool-panel {
            width: 80%;
            margin: 0 auto;
        }
    }
}

#serverConsole {
    background-color: black;
    height: 40%;
    font-size: 16px;
    clear: both;

    h2 {
        color: white;
        font-size: 16px;
        font-family: 'Courier New', Courier, monospace;
        margin: 0;
        margin-bottom: 5px;
    }

    .window {
        box-sizing: border-box;
        padding: 10px;
    
        p {
            color: yellow;
            font-family: 'Courier New', Courier, monospace;
        }
    } 

    #leftPanel {
        width: 10%;
        float: left;
        height: 100%;
        border-right: 1px solid white;
        box-sizing: border-box;
        padding: 10px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
    
        .button-viewport {
            flex: 1;
            overflow-y: scroll;

            button {
                width: 100%;
                height: 40px;
                font-size: 16px;
            }

            button.new {
                background-color: yellow;
            }
        }
    }
    
    #rightPanel {
        height: 100%;
        width: 90%;
        float: left;
        display: grid;
        grid-template: 90px 80px auto / 30% 70%;

        #descriptionInfo {
            grid-column-start: 1;
            grid-column-end: 3;
        }
        
        #queryInfo {
            grid-column-start: 1;
            grid-column-end: 3;
            border-bottom: 1px solid white;
            padding: 10px;
            background-color: black;
        
            pre {
                height: 36px;
            }
        } 
        
        #requestInfo {
            overflow: hidden;
            box-sizing: border-box;
            border-right: 1px solid white;
            display: flex;
            flex-direction: column;
        
            pre {
                flex: 1;
            }
        }
        
        #responseInfo {
            box-sizing: border-box;
            overflow: hidden;
            display: flex;
            flex-direction: column;
        
            pre {
                flex: 1;
            }
        }
    }
}


